.profile-picture.medium {
    width: 60px;
    height: 60px;
}

.profile-picture.small {
    width: 30px;
    height: 30px;
}

.chat-item {
    background: #0c0b0c !important;
}

.chat-item-title,
.chat-item-text {
    color: #c9eeef !important;
}

.chat {
    height: inherit;
    background: #201E21;
}

.chat-wrapper {
    height: inherit;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 800px;
}

.dialog-items-wrapper {
    overflow-y: scroll;
}

.dialog-header {
    font-size: 22px;
    color: #fff;
    border-bottom: 1px #363437 solid;
}

.message-text {
    max-width: calc(100% - 5.5625rem);
    background: #9f90ad;
    word-break: break-word;
}

.is-out {
    flex-direction: row-reverse;
}

.is-out .message-text {
    background: #a5e6e8;
}

.dialog-content {
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

.msg-time {
    position: relative;
    left: 6px;
    top: 6px;
    float: right;
    font-size: 12px;
}

.dialog-input {
    max-height: 150px;
    overflow-y: scroll;
    overflow-wrap: anywhere;
}

.dialog-input:focus,
.dialog-input:focus-visible {
    outline: none;
}

.members-block {
    color: white;
}

.msg-sender-name {
    font-size: 13px;
    margin-right: auto;
}

.token-field {
    outline: none;
    border: none;
    color: #fff;
    background: #201E21;
    padding-right: 1rem;
}