.form-item {
    border-radius: 10px !important;
}

.form-wrapper {
    border-radius: 20px;
}

.form-login {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}

.auth-wrapper {
    background: #201E21;
}